@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  @apply w-full;
  font-family: Open-Sans-600;
  font-size: 22px;
  border-radius: 20px;
  padding: 10px;
}

@font-face {
  font-family: "Open-Sans-400";
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open-Sans-600";
  src: url(./assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open-Sans-700";
  src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Poppins-700";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-600";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

h1 {
  font-family: Poppins-700;
  font-size: 38px;
  @apply text-4xl font-bold;
}

h2 {
  font-family: Poppins-700;
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}

p {
  font-family: Open-Sans-400;
  font-size: 16px;
}

.contenedor {
  min-height: 100vh;
}

.bordeblur {
  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.bordeblurd {
  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 20px 20px 20px 20px;
}

.cf {
  position: relative;
  height: 281px;
  width: 450px;
}

.invalid-text {
  color: #ff5f5f;
}

.invalid-text-small {
  color: #ff5f5f;
  font-size: 12px;
  padding-left: 10px;
}

.login-wrapper {
  position: relative;
}

#togglePassword {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 2px;
  left: 80%;
}

.contenedor-admin {
  margin-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #dbd8ff;
  border-radius: 15px 0px 0px 15px;
  position: absolute;
}

.input-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px 8px 48px;

  background: #ffffff;

  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 15px;
  @apply w-full;
}

.input-search-bar:focus {
  outline-color: #a954ff;
}

.input-search-container:focus-within .search-container {
  border-top: 1px solid #a954ff;
  border-bottom: 1px solid #a954ff;
  border-left: 1px solid #a954ff;
  background-color: white;
}

.h1-administracion {
  color: #4d3483;
  font-size: 22px;
  font-family: Poppins-700;
  font-weight: 600;
  @apply mt-0;
  margin-top: 16px;
}

.p-bold-administracion {
  font-family: Open-Sans-600;
  font-size: 16px;
}

.p-info-administracion {
  color: #9695a2;
  font-size: 12px;
  font-family: Open-Sans-400;
}

hr.administracion {
  border: 1px solid #dbd8ff;
  border-radius: 1px;
  margin-top: 8px;
}

.grade-container {
  margin-top: 8px;
}

.label-purple {
  font-size: 16px;
  color: #4d3483;
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 8px;
  font-family: Open-Sans-600;
}

.span-field {
  color: #ff54b0;
  margin-left: 4px;
}

.combo-box {
  cursor: pointer;
  @apply px-2 py-2.5;
  outline: none;
  outline-color: #a954ff;
  outline-width: 2px;
  border: solid 1px #dbd8ff;
  border-radius: 10px;
}

.combo-box-active {
  border-radius: 0;
  border: 2px solid #a954ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.combo-box-container {
  padding-top: 8px;
  margin-top: -8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #a954ff;
  overflow-y: scroll;
  height: 148px;
}

.combo-box-container-notes {
  padding-top: 8px;
  margin-top: -8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #a954ff;
  overflow-y: scroll;
  height: auto;
}

.button-purple {
  color: #fff;
  background: #7064ff;
}

.no-border {
  border: 0 !important;
}

.success {
  background: #85ed61;
}

.container-grade {
  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

.container-asistencia {
  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 10px;
  padding: 16px;
}

.h2-administracion {
  color: #4d3483;
  font-size: 16px;
  font-family: Open-Sans-600;
}

.delete-button {
  background-color: #fff;
  color: #ff54b0;
  border: 2px solid #ff54b0;
}

.confirmar-button {
  background-color: #fff;
  color: #7064FF;
  border: 2px solid #DBD8FF;
}

.sweet-cancel-button {
  background: #ffffff;

  border: 2px solid #7064ff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 122px;
}

.sweet-confirmation-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background: #7064ff;
  border-radius: 10px;
  width: 98px;
  margin-right: 20px;
}

/* clases para las font */
.normtxtdesk {
  /* normal text dessktop */
  /* 21.33px */
  font-size: 1.333rem;
  font-family: Open-Sans-400;
}

.bigtitdesk {
  /* bit title desktop */
  font-size: 3.157rem;
  font-family: Poppins-700;
}

.titlesemibold {
  font-family: Poppins-600;
}

.smtxt {
  font-size: 0.75rem;
  /* 12.00px */
  font-family: Open-Sans-400;
}

/* Clases para botones */
.btntxtsmdesk {
  /* button-text-small-desktop */
  font-size: 16px;
  font-family: Open-Sans-700;
}

.btntxtsmmobl {
  /* button-text-small-mobile */
  font-size: 12.8px;
  font-family: Open-Sans-700;
}

.opensansbold {
  font-family: Open-Sans-700;
}

/* Clases para el texto */
.big-title {
  font-family: Poppins-700;
  /* Bold */
  font-size: 2.369rem;
  /* 37.90px */
  line-height: 57px;
}

.med-title {
  font-family: Poppins-600;
  /* Semi Bold */
  font-size: 1.333rem;
  /* 21.33px */
  line-height: 32px;
}

.sml-title {
  font-family: Open-Sans-600;
  /* Semi Bold */
  font-size: 1rem;
  /* 16px */
  line-height: 22px;
}

.nrm-text {
  font-family: Open-Sans-400;
  /* Regular */
  font-size: 1rem;
  /* 16px */
  line-height: 22px;
}

.sml-text {
  font-family: Open-Sans-400;
  /* Regular */
  font-size: 0.75rem;
  /* 12px */
  line-height: 17px;
}

.sml-text-2 {
  font-family: Open-Sans-400;
  /* Regular */
  font-size: 0.8rem;
  /* 12.8px */
  line-height: 17px;
}

.nrm-button {
  font-family: Open-Sans-600;
  /* Semi Bold */
  font-size: 1.333rem;
  /* 21.33x */
  line-height: 29px;
}

.sml-button {
  font-family: Open-Sans-600;
  /* Semi Bold */
  font-size: 0.8rem;
  /* 12.8px */
  line-height: 17px;
}

/* Clases para borders */
.nrm-txtfld-border {
  border: 1px solid #dbd8ff;
  border-radius: 10px;
}

.invalid {
  border: 1px solid #ff5f5f;
  border-radius: 10px;
}

/* animaciones */
.arrow-animation {
  transition: transform 1000ms ease-out;
}

.arrow-animation :first-child {
  transition: transform 400ms ease-out;
}

.arrow-animation:hover :first-child {
  transform: translateY(8px);
}

@layer components {
  .arrowup-animation {
    transition: transform 1000ms ease-out;
  }

  .arrowup-animation :first-child {
    transition: transform 400ms ease-out;
  }

  .arrowup-animation:hover :first-child {
    transform: translateY(-4px);
  }
}

.card {
  position: relative;
}

.card img.img-back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  background-color: white;
  transition: opacity 400ms ease-in-out;
}

.alumnoborder {
  border-radius: 10px 10px 10px 10px;
}

.addsearchradius {
  border-radius: 15px 15px 15px 15px;
}

.sidebar {
  position: sticky;
  top: 0;
}

.bordercard {
  box-shadow: 0px 0px 8px rgba(112, 100, 255, 0.25);
  border-radius: 10px 10px 10px 10px;
}


.card:hover img.img-back {
  opacity: 1;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.shw-pass {
  /* content: url(assets/images/icon-showpassword.svg); */
  height: 24px;
  width: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
}

.home {
  height: calc(100vh - 70px);
}

.account {
  height: calc(100vh - 64px);
}

.shadow {
  box-shadow: 0px 0px 8px 0px #7064ff40;
  border-radius: 10px;
}

.animation1 {
  animation: showmenu 0.5s ease-in-out;
}

.animation2 {
  animation: hiddenmenu 0.5s ease-in-out;
}

.animation3 {
  animation: divopacity 0.5s ease-in-out;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@keyframes showmenu {
  from {
    top: 50%;
  }

  to {
    top: 0;
  }
}

@keyframes hiddenmenu {
  from {
    top: 0;
  }

  to {
    top: 50%;
  }
}

@keyframes divopacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}