@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

button {
  @apply w-full;
  font-family: Open-Sans-600;
  font-size: 22px;
  border-radius: 20px;
  padding: 10px;
}

@font-face {
  font-family: "Open-Sans-600";
  src: url(./assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open-Sans-400";
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Poppins-700";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

h1 {
  font-family: Poppins-700;
  font-size: 38px;
}

p {
  font-family: Open-Sans-400;
  font-size: 16px;
}

.contenedor {
  min-height: 100vh;
}

.bordeblur {
  box-shadow: 0px 0px 3px 3px #eeecff;
  border-radius: 0px 0px 20px 20px;
}

.bordeblurd {
  box-shadow: 0px 0px 3px 3px #eeecff;
  border-radius: 20px 20px 20px 20px;
}

.cf {
  position: relative;
  height: 281px;
  width: 450px;
}

.cf img {
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

.cf img.top:hover {
  opacity: 0;
}

.home {
  height: calc(100vh - 70px);
}

.account {
  height: calc(100vh - 64px);
}

.shadow {
  box-shadow: 0px 0px 8px 0px #7064ff40;
  border-radius: 10px;
}

.animation1 {
  animation: showmenu 0.5s ease-in-out;
}

.animation2 {
  animation: hiddenmenu 0.5s ease-in-out;
}

.animation3 {
  animation: divopacity 0.5s ease-in-out;
}

@keyframes showmenu {
  from {
    top: 50%;
  }
  to {
    top: 0;
  }
}

@keyframes hiddenmenu {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@keyframes divopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
